.App {
  background-color: #EFF0F3;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.steps-container {
  width: 1200px;
  height: 700px;
  background-color: white;
}
.steps {
  width: 1000px;
  padding-top: 24px;
  margin: auto;
}
.steps-action {
  width: 100%;
  margin: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
